<div class="success-card">
  <h1>Anketa byla úspěšně vytvořena</h1>
  <p class="success-text">
    Sdílejte ji se svými respondenty a začněte sbírat odpovědi.
  </p>

  <!-- Oranžový rámeček s odkazy -->
  <div class="links-frame">
    <!-- Odkaz na anketu -->
    <div class="poll-link-block">
      <span class="block-title">Pro odkaz na hlasování:</span>
      <p class="link-text">Zde je odkaz na anketu:</p>
      <a [href]="getPollLink()" target="_blank">{{ getPollLink() }}</a>
      <button class="copy-link" (click)="copyLink(getPollLink())">Kopírovat odkaz</button>
    </div>

    <!-- Odstup -->
    <div class="spacer"></div>

    <!-- Výsledky ankety -->
    <div class="poll-link-block">
      <span class="block-title">Pro odkaz na administraci / výsledky:</span>
      <p class="link-text">Zde je odkaz pro sledování výsledků a správu ankety:</p>
      <a [href]="getResultsLink()" target="_blank">{{ getResultsLink() }}</a>
      <button class="copy-link" (click)="copyLink(getResultsLink())">Kopírovat odkaz</button>
  
    </div>
  </div>

  <!-- Oranžový text dole -->
  <p class="warming-info">
    Děkujeme, že jste vytvořili anketu.<br>
    Nezapomeňte si uložit odkazy, protože zatím nefunguje automatické zasílání emailem!
  </p>
</div>
