<div class="success-card">
  <h1>Anketa byla úspěšně vytvořena</h1>
  <p class="success-text">
    Sdílejte ji se svými respondenty a začněte sbírat odpovědi.
  </p>

  <!-- Modrý rámeček -->
  <div class="links-frame">
    <div class="poll-link-row">
      <span>Odkaz na anketu:</span>
      <a [href]="getPollLink()" target="_blank">{{ getPollLink() }}</a>
      <button class="copy-link" (click)="copyPollLink()">Kopírovat odkaz</button>
    </div>

    <div class="results-row">
      <span>Výsledky ankety:</span>
      <a [href]="getResultsLink()" target="_blank" *ngIf="pollId">
        {{ getResultsLink() }}
      </a>
      <span *ngIf="!pollId">Výsledky nejsou dostupné</span>
    </div>
  </div>

  <hr class="divider" />

  <p class="highlight-orange">
    Děkujeme, že jste vytvořili anketu.<br>
 
  </p>
</div>
