.results-table-container {
  max-width: 900px;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 12px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 4px 15px rgba(0,0,0,0.05);
  padding: 20px;
}

.results-table {
  width: 100%;
  border-collapse: collapse;
}

.results-table th {
  background-color: #0077cc;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  padding: 12px 15px;
  border: 1px solid #ccc;
}

.results-table td {
  padding: 6px 8px;
  border: 1px solid black;
  color: #222;
  background-color: #fff;
}

.results-table tbody tr:hover td {
  background-color: #f5f5f5;
}

.submission-header td {
  font-weight: bold;
  color: #0077cc; /* číslo hlasu modře */
}

.back {
  padding: 8px 18px;
  border: none;
  border-radius: 8px;
  color: #0077cc;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s ease;
  font-size: 14px;
}

.note-row td {
  font-style: bold;
  color: #555;
  background-color: #fafafa;
}

.info-text {
  text-align: center;
  color: black;
  font-weight: 500;
  padding: 15px;
}
